body {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: normal;
}

/* =========================
Basic SetUp
============================
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a,
span {
  display: inline-block;
}

a,
a:focus {
  text-decoration: none;
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: 0;
  background-color: transparent;
}

button[type="submit"],
button[type="submit"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
